*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: #111;
}
h1{
    font-size: 3rem;
    font-weight: 50;
    margin: 1rem 0 3 rem;
    text-align: center;
    color: rgb(157, 242, 10);
    font-family: 'Hind', sans-serif;
}
.styling{
    font-weight: 400;
    color: rgb(112, 229, 16);
}
.input_div{
    display: flex;
    justify-content: center;
    color: crimson;
    align-items: center;
    text-align: center;
}
.input_div.input{
    padding: 0.5rem 1rem;
    height: 50px;
    outline: none;
    border: none;
    background-color:crimson;
    width: 450px;
    font-size: 1.15rem;
    margin: 0.25px;
    border-radius: 25px;
}
.addButton{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: rgb(8, 19, 240);
    color:#fff;
    margin: 0.25px;
    background-color:rgb(127, 251, 11);
    cursor: pointer;
}
.addButton:hover{
    opacity: 0.7;
}
.container{
    display: flex;
    height: 250;
    border-width: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}
.item{
    padding: 0.15rem;
    margin-bottom: 1.5rem;
    border-bottom: 4px solid rgb(221, 216, 216);
}
.item_input{
    background: none;
    outline: none;
    color: rgb(238, 223, 7);
    border: none;
    width: 350px;
    font-size: 1.4rem;
}
.editButton{
    font-size: 1.4rem;
    margin: 0 0.5rem;
    font-family: "Hind", sans-serif;
    background: none;
    outline: none;
    color: rgb(97, 244, 12);
    border: none;
    cursor: pointer;
}
.removeButton{
    font-size: 1.4rem;
    font-family: "Hind", sans-serif;
    background: none;
    outline: none;
    color: #E00;
    border: none;
    cursor: pointer;
}